@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: ghostwhite;
  width:100%;
  margin: 0 auto;
}
header {
    clear:both;
}
header a,
header a:hover,
header a:visited,
header a:active {
  text-decoration: none;
  color: black;
}
body header a h1{
    font-weight: bold;
    font-size: 330%;
    display:block;
    margin:2% 5% 2% 5%;
}
nav{
    width:100%;
}
nav ul {
  list-style: none;
  width: 100%;
}
nav ul a{
    color:black;
}
nav ul a:hover{
    color: royalblue;
    text-decoration: none;
}
nav ul li {
  display: inline-block;
  padding: 1% 2.5% 1% 2.5%;
  margin: 0 2% 0 2%;
  font-size: 160%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
footer{
    width: 100%;
    text-align: center;
    font-size:85%;
    position: absolute;
    bottom: 3%;
}
footer a {
    color:black;
}
footer a:hover{
    color:royalblue;
    text-decoration: none;
}
body main #content{
    width:85%;
    margin: 0 auto;
}


@media only screen and (max-width: 600px){
    body{
        width: 100%;
    }
    body header a h1 {
        font-size: 230%;

    }
    nav ul li{
        font-size:120%;
        margin-left:.5%;
    }

    body main #content{
        width: 80%;
        margin: 0 auto;
    }
    footer{
        display:none;
    }
}
@media only screen and (max-width:400px){
    nav{
        font-size:105%;
    }
    nav ul li{
        border: none;
        padding: .5%;
    }
}
@media only screen and (max-width: 320px){
    nav{
        font-size:90%;
    }
    nav ul li{
        padding: 0;
        margin: .8%;
    }
}